
    <div class="socialMedia social-wrapper">
    <ul>
        <a href="https://www.facebook.com/profile.php?id=100001507186819" target="_blank">
            <li class="facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <div class="slider">
                  <p>facebook</p>
                </div>
              </li>
        </a>
      

      <a href="https://www.linkedin.com/in/khang-nguyen-045606107/" target="_blank">
        <li class="linkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <div class="slider">
              <p>linkedin</p>
            </div>
          </li>
      </a>
      
      <a href="https://www.instagram.com/rankhang_79/?hl=en" target="_blank">
        <li class="instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <div class="slider">
              <p>instagram</p>
            </div>
          </li>
      </a>
      
          
          
    </ul>
  </div>

<!--Email -->
  <!-- <div class="email-wrapper">
    <hr style="width:56%">
    <p style="font-family: 'Courier New', Courier, monospace;"> 
        <a 
            style="text-decoration:none;" 
            href="mailto: khanghtnguyen@gmail.com"
            >khanghtnguyen@gmail.com
        </a>
    </p>
  </div> -->
  