<app-nav-bar></app-nav-bar>
<div class="mt-1 container paddingLeft area">
    <!--
        Animation background
    -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
    </ul>
    <!--
    End Animation background
    -->
    <div class="wrapper">
        <p class="fs-4">Hi, my name is</p>
        <p class = "pt-1 fs-1 fw-bold" style="color: #6b84c9;">Khang Nguyen</p>
        
    
        
    </div>
    
</div>

<footer>
    <app-social-media-link></app-social-media-link>
</footer>



