# Dependency directories
node_modules/

# Compiled output
/dist/
/tmp/

# Logs and cache files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.pnpm/
.pnpm-lock.yaml
.npm/
.npmrc
.npm-integrity
.cache
.pnpm-store

# Editor directories and files
.idea/
.vscode/
*.swp
*~
._*
.project
.settings/
*.sublime-workspace

# Environment variables
.env

# Build files
build/
*.build.js
*.build.js.map

.angular/cache

# Miscellaneous
.DS_Store
Thumbs.db
