<app-nav-bar></app-nav-bar>
<app-multicolor-animation-background>
</app-multicolor-animation-background>
<div class="container pt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <button class="btn btn-secondary" type="button" routerLink="/appsList/cryptoCurrencyGame">
              <img src="../../assets/game/gameLogo.png" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">CryptoPurrency</h2>
                <p class="card-text fs-6">Simulating the concepts of buying, 
                  selling and trading cryptocurrency</p>
              </div>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button class="btn btn-info" type="button" routerLink="/appsList/katbook/sign-in">
              <img src="../../assets/image/Coming-soon.jpg" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">Coming Soon</h2>
                <p class="card-text fs-6">Coming Soon</p>
              </div>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button class="btn btn-danger" type="button">
              <img src="../../assets/image/Coming-soon.jpg" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">Coming Soon</h2>
                <p class="card-text fs-6">Coming Soon</p>
              </div>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button class="btn btn-warning" type="button">
              <img src="../../assets/image/Coming-soon.jpg" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">Coming Soon</h2>
                <p class="card-text fs-6">Coming Soon</p>
              </div>
            </button>
          </div>
        </div>
      </div>
</div>



<app-social-media-link></app-social-media-link>