<app-nav-bar></app-nav-bar>
<div class="container paddingLeft">
    <div class="row">
        <div class="col-6">
            <p class="pt-4 lh-lg">
                <em>Hello!</em> I'm Khang, 
                
                creating things that live on the internet is my passion.  
                I graduated from UNC Charlotte in 2021 and 
                currently work at Tata Consulting Service as a Software Engineer.
                <br>
                <br>
                I also enjoy playing sports with friends, 
                especially soccer; goalkeeping is my favorite position.
            </p>  
        </div>

        <div class="col pt-4">
            <div class="profilePic">
                <img width="50%" class="rounded mx-auto d-block" src="../../assets/image/profile.jpeg">
            </div>    
        </div>

        

        
    </div>
    

</div>

<app-social-media-link></app-social-media-link>


