<app-nav-bar></app-nav-bar>
<div class="container paddingLeft">
    <div class="row">
        <div class="col-6">
            <p class="pt-4 lh-lg">
                <em>Hey there!!</em> I'm Khang, 
                
                and crafting digital creations is where my heart lies. 
                I earned my degree from UNC Charlotte back in 2021 and now thrive as a Software Engineer at Tata Consulting Service.
                <br>
                <br>
                When I'm not immersed in coding, you'll often find me on the soccer field,
                 relishing the role of goalkeeper while enjoying some quality time with friends.
            </p>  
        </div>

        <div class="col pt-4">
            <div class="profilePic">
                <img width="50%" class="rounded mx-auto d-block" src="../../assets/image/profile.jpeg">
            </div>    
        </div>

        

        
    </div>
    

</div>

<app-social-media-link></app-social-media-link>


