<app-nav-bar></app-nav-bar>
<div class="area" style="position: absolute;">
    <!--
        Animation background
    -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
    </ul>
    <!--
    End Animation background
    -->
<div class="wrapper">
    <p class="fs-1 ">Feel free to reach out!</p>
    <p style="width: 50%;" class="lh-lg">Whether you have inquiries or simply want to say hello, my inbox is 
         <em>ready and waiting</em>. I'll make sure to respond to you as promptly as possible!
    </p>

    <div class=" pt-4">
        
            <a href="mailto: khanghtnguyen@gmail.com">
                <button type="button" class="btn text-lowercase" >
                    <span class="text-uppercase">S</span>ay hello
                </button>
            </a>
    </div>

    <!-- <div class=" pt-4">
        <button type="button" class="btn text-lowercase" data-bs-toggle="modal" data-bs-target="#addFriendModal" data-bs-whatever="@getbootstrap">
            <span class="text-uppercase">A</span>dd you as my friends with a compliment.
        </button>

        <app-add-friend></app-add-friend>
    </div>


    <div class=" pt-4">
        <button type="button" class="btn text-lowercase" routerLink="../friends-list"><span class="text-uppercase" >F</span>riends List</button>
    </div> -->
</div>
</div>


<app-social-media-link></app-social-media-link>
