<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <p class="fs-1 ">Let's connect</p>
    <p style="width: 50%;" class="lh-lg">If you have any questions or want to say hi,
         my inbox is <em>always open</em>, and I'll get back to you at my best!
    </p>

    <div class=" pt-4">
        
            <a href="mailto: khanghtnguyen@gmail.com">
                <button type="button" class="btn text-lowercase" >
                    <span class="text-uppercase">S</span>ay hello
                </button>
            </a>
    </div>

    <!-- <div class=" pt-4">
        <button type="button" class="btn text-lowercase" data-bs-toggle="modal" data-bs-target="#addFriendModal" data-bs-whatever="@getbootstrap">
            <span class="text-uppercase">A</span>dd you as my friends with a compliment.
        </button>

        <app-add-friend></app-add-friend>
    </div>


    <div class=" pt-4">
        <button type="button" class="btn text-lowercase" routerLink="../friends-list"><span class="text-uppercase" >F</span>riends List</button>
    </div> -->
</div>

<app-social-media-link></app-social-media-link>
