

.viewport {
    height: 500px;
    /* background-color: #072d3c; */
  }

.walletInfo{
    font-size: 15px;
}

em{
    color: green;
    font-weight:900;
}

.detailFont{
    font-weight: 600;
}

.example-item {
    height: 50px;
}


.walletAddress-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .walletAddress-full-width {
    width: 100%;
  }