<!--HOUR CHANGE-->


  <div *ngIf="chosenChart == 'DAY_CHART'">
    <div class="row row-cols-auto" >
      
      <div class="col" *ngIf="selectedCoin.last24HoursValue[0] - selectedCoin.last24HoursValue[23]<0; else negativePrice">
      
        <p [style.font-size]="arrowFontSize" style="color: rgb(8, 107, 8);">
          <i class="bi bi-caret-up-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{math.abs(((selectedCoin.last24HoursValue[0] - selectedCoin.last24HoursValue[23])/selectedCoin.last24HoursValue[0]*100)).toFixed(2) + "%"}}</span>
        </p>
      </div>
      <ng-template #negativePrice>
        <p [style.font-size]="arrowFontSize" style="color: rgb(128, 29, 29); " class="col">
          <i class="bi bi-caret-down-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;" >{{((selectedCoin.last24HoursValue[23] - selectedCoin.last24HoursValue[0])/selectedCoin.last24HoursValue[0]*100).toFixed(2) + "%"}}</span>
        </p>
      </ng-template>
    </div>
  </div>

  
  
    
  
  



  




<!--WEEK CHANGE-->
<div *ngIf=" chosenChart == 'WEEK_CHART'">
  <div class="row row-cols-auto">
    
    
    <div class="col" *ngIf="selectedCoin.valueLast365Days[358] - selectedCoin.valueLast365Days[364]<0; else negativePrice">  
      <p [style.font-size]="arrowFontSize" style="color: rgb(8, 107, 8); ">
        <i class="bi bi-caret-up-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{math.abs((selectedCoin.valueLast365Days[358] - selectedCoin.valueLast365Days[364])/selectedCoin.valueLast365Days[358]*100).toFixed(2) + "%"}}</span>
      </p>
    </div>
    <ng-template #negativePrice>
      <p [style.font-size]="arrowFontSize" style="color: rgb(128, 29, 29);" class="col">
        <i class="bi bi-caret-down-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{((selectedCoin.valueLast365Days[364] - selectedCoin.valueLast365Days[358])/selectedCoin.valueLast365Days[358]*100).toFixed(2) + "%"}}</span>
      </p>
    </ng-template>
  </div>
</div>


<!--MONTH CHANGE-->
<div class="row row-cols-auto" *ngIf="chosenChart== 'MONTH_CHART'">
  
  
  <div class="col" *ngIf="selectedCoin.valueLast365Days[335] - selectedCoin.valueLast365Days[364]<0; else negativePrice">  
    <p [style.font-size]="arrowFontSize" style="color: rgb(8, 107, 8);">
      <i class="bi bi-caret-up-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{math.abs((selectedCoin.valueLast365Days[335] - selectedCoin.valueLast365Days[364])/selectedCoin.valueLast365Days[335]*100).toFixed(2) + "%"}}</span>
    </p>
  </div>
  <ng-template #negativePrice>
    <p [style.font-size]="arrowFontSize" style="color: rgb(128, 29, 29);" class="col">
      <i class="bi bi-caret-down-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{((selectedCoin.valueLast365Days[364] - selectedCoin.valueLast365Days[335])/selectedCoin.valueLast365Days[335]*100).toFixed(2) + "%"}}</span>
    </p>
  </ng-template>
</div>


<!--YEAR CHANGE-->
<div class="row row-cols-auto" *ngIf="chosenChart== 'YEAR_CHART'">

  
  <div class="col" *ngIf="selectedCoin.valueAYear[0] - selectedCoin.valueAYear[11]<0; else negativePrice">  
    <p  [style.font-size]="arrowFontSize" style="color: rgb(8, 107, 8);">
      <i class="bi bi-caret-up-fill"></i><span [style.font-size]="fontSize" style="font-weight:400;">{{math.abs((selectedCoin.valueAYear[0] - selectedCoin.valueAYear[11])/selectedCoin.valueAYear[0]*100).toFixed(2) + "%"}}</span>
    </p>
  </div>
  <ng-template #negativePrice>
    <p [style.font-size]="arrowFontSize" style="color: rgb(128, 29, 29);" class="col">
      <i class="bi bi-caret-down-fill"></i><span [style.font-size]="fontSize" style="font-weight: 400;">{{((selectedCoin.valueAYear[11] - selectedCoin.valueAYear[0])/selectedCoin.valueAYear[0]*100).toFixed(2) + "%"}}</span>
    </p>
  </ng-template>
</div>