

<!-- Modal -->
<div class="modal fade" id="createNewPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="createNewPostBackDropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createNewPostBackDropLabel">Create post</h1>
                <button #closePostModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container ">
                    <div class="row pb-2">
                        <div class="col">
                            <div class="avatar-container">
                                <div class="image-container-small" *ngIf="mainUserMetaData?.profilePhotoURL; else placeholder"
                                    [ngClass]="{'box-shadow-avatar': !!mainUserMetaData?.profilePhotoURL}"
                                    [ngStyle]="{backgroundImage: 'url(' + mainUserMetaData?.profilePhotoURL + ')'}">
                                </div>
        
                                <ng-template #placeholder>
                                    <div class="image-container-small avatar-placeholder-small">
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col">
                            <h3>{{mainUserMetaData?.lname}} {{mainUserMetaData?.fname}}</h3>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <button class="btn btn-secondary btn-sm" data-bs-target="#choosePostVisiability"
                        data-bs-toggle="modal">
                        <app-post-audience-template [postAudience]="postAudience" [for]="createNewPostAudienceTemplate"></app-post-audience-template>
                    </button>
                </div>


                <div class="pt-4">
                    <div *ngIf="!isPhotoIconClick" container>
                        <textarea [(ngModel)]="postText" placeholder="What's on your mind, {{mainUserMetaData?.fname}}?"
                            style="border: none; font-size: x-large;"></textarea>
                    </div>
                    <div *ngIf="!isTextEditIconClick" container>
                        <div class="pt-4 pr-2 pl-2 border pb-4 border-secondary rounded p-2 mb-2 border-opacity-25 ">
                            <div *ngIf="!isChosenPostPhotoUpload" style="background-color: lightgray;"
                                class="innerBox pt-1 pr-1 pl-1 border pb-1 border-secondary rounded border-opacity-25 ">
                                <label for="file-upload" class=" fs-3 custom-file-upload">
                                    <div class="position-absolute top-50 start-50 translate-middle photo_cover">
                                        <div>
                                            <i class="fa-solid fa-upload"></i> Add photos
                                        </div>
                                    </div>
                                </label>
                                <input id="file-upload" type="file" (change)="onPhotoUpload($event)"
                                    multiple="true" />
                            </div>
                            <div *ngIf="isChosenPostPhotoUpload">
                                <div class="post-photo-inner-container">
                                    <img *ngFor="let photo of chosenPostPhotosArray" class="post_photo_upload mx-auto p-2" [src]=" 
                                photo">
                                </div>
                                
                            </div>
                        </div>
                    </div>



                </div>

                <div class="pt-4 pr-2 pl-2 border pb-4 border-secondary rounded p-2 mb-2 border-opacity-25 container">
                    <div class="row">
                        <div class="col-6 fs-5">Add to your post</div>

                        <div class="col-2"><button (click)="onTextClick()" type="button"
                                style="background-color: white; border: none; outline: none;"><i
                                    class="fa-solid fa-pen"></i></button></div>

                        <div class="col-2"><button (click)="onPhotoClick()" type="button"
                                style="background-color: white; border: none; outline: none;"><i
                                    class="fa-regular fa-images"></i></button></div>


                        <div class="col-2"><button style="background-color: white; border: none; outline: none;"><i
                                    class="fa-solid fa-user-tag"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUploadNewPost()">Post</button>
                
            </div>
        </div>
    </div>
</div>


<!-- Audience options modal-->
<div class="modal fade" id="choosePostVisiability" aria-hidden="true" aria-labelledby="choosePostVisiabilitylabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-1">
                            <button class="btn btn-light rounded-circle" data-bs-target="#createNewPost"
                                data-bs-toggle="modal">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-10">
                            <h1 class="modal-title fs-5" id="choosePostVisiabilitylabel">Post Audience</h1>
                        </div>
                        <div class="col-1 pt-2">
                            <button type="button" class="btn-close btn btn-light rounded-circle" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="audienceForm" (submit)="onSubmitAudience()">
                <div class="modal-body">
                    <!--Radio buttons to choose audience-->

                    <div class="form-check pb-4 pt-2">
                        <input class="form-check-input" type="radio" formControlName="audience" id="public"
                            value={{publicAudience}}>
                        <label class="form-check-label fs-5" for="public">
                            <i class="postAudienceIconSize fa-solid fa-earth-americas"></i> {{publicAudience}}
                        </label>
                    </div>
                    <div class="form-check pb-4">
                        <input class="form-check-input" type="radio" formControlName="audience" id="onlyMe"
                            value="{{onlyMeAudience}}">
                        <label class="form-check-label fs-5" for="onlyMe">
                            <i class="postAudienceIconSize fa-solid fa-lock"></i>
                            {{onlyMeAudience}}
                        </label>
                    </div>
                    <div class="form-check pb-4">
                        <input class="form-check-input" type="radio" formControlName="audience" id="friends"
                            value="{{friendsAudience}}">
                        <label class="form-check-label fs-5" for="friends">
                            <i class="postAudienceIconSize fa-solid fa-user-group"></i> {{friendsAudience}}
                        </label>
                    </div>
                    <div class="form-check pb-4">
                        <input class="form-check-input" type="radio" formControlName="audience" id="friendsExcept"
                            value="{{friendsExceptAudience}}">
                        <label class="form-check-label fs-5" for="friendsExcept">
                            <i class="postAudienceIconSize fa-solid fa-user-xmark"></i> {{friendsExceptAudience}}
                        </label>
                    </div>
                    <div class="form-check pb-4">
                        <input class="form-check-input" type="radio" formControlName="audience" id="specificFriend"
                            value="{{specificFriendsAudience}}">
                        <label class="form-check-label fs-5" for="specificFriend">
                            <i class="postAudienceIconSize fa-solid fa-user-gear"></i> {{specificFriendsAudience}}
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-target="#createNewPost" data-bs-toggle="modal"
                        class="btn btn-secondary">Cancel</button>
                    <button type="submit" data-bs-target="#createNewPost" data-bs-toggle="modal"
                        class="btn btn-primary">Done</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Button trigger empty post warning modal -->
<button [hidden]="true" type="button" #emptyPostWarning class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postEmptyWarningModal">
    Launch demo modal
</button>
<!-- warning Modal -->
<div class="modal fade"  id="postEmptyWarningModal" tabindex="-1" aria-labelledby="postEmptyWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="postEmptyWarningModalLabel">Message</h1>
          <button type="button" class="btn-close" data-bs-target="#createNewPost" data-bs-toggle="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="fs-2">
                <p>New post is empty!</p> <p>Please add content before posting.</p>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-target="#createNewPost" data-bs-toggle="modal">Add Content</button>
        </div>
      </div>
    </div>
  </div>

